<div class="no-questions">
    <img src="/public/images/no-question.svg" alt="Sem questões">
    <h2>Nenhuma pergunta por aqui...</h2>
    <p>Faça sua primeira pergunta e envie o<br>código dessa sala para outras pessoas!</p>
</div>